body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
}

.left-section, .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.left-section {
    border-right: 2px solid #ccc;
}

.generate {
    background-color: #0CC2AA;
    color: #fff;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
}

.generate:hover {
    background-color: #0bb69f;
}

#secret-key {
    font-size: 32px;
    margin: 15px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 45%;
    text-align: center;
    color: #313131;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

.key {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #ccc;
}

.key.clear {
    background-color: #fcc100;
    color: #fff;
    border: 1px solid #d59d04;
}

.key.submit {
    background: #0CC2AA;
    color: #fff;
    border: 1px solid #0bb69f;
}
.key.clear:hover {
    background-color: #d59d04;
    
}

.key.submit:hover {
    background: #0bb69f;
}

.key:hover {
    background-color: #ccc;
}

.display {
    display: flex;
    color: black;
}

.display .pinToMatch {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 71%;
    margin-left: 13px;
    border: 1px solid #ccc;
}

.message {
    margin-top: 20px;
    font-size: 18px;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .generate {
        padding: 20px;
        font-size: 20px;
        margin-bottom: 5px;
    }
    .left-section {
        border-right: none;
        border-bottom: 1px solid #ccc;
    }
    .keypad {
        grid-template-columns: repeat(2, 1fr);
    }
    #secret-key {
        width: 30%;
    }
}

@media (max-width: 480px) {
    .display .pinToMatch {
        margin-left: 5px;
    }
    .left-section {
        border-right: none;
    }
    .keypad {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .key {
        padding: 15px;
        font-size: 20px;
    }
    .generate {
        padding: 10px 16px;
        font-size: 15px;
        margin-bottom: 5px;
    }
    #secret-key {
        font-size: 28px;
        padding: 8px;
        width: 45%;
    }
}
